@{
    ViewBag.Title = "";
}

<main class="mainHome">
    <section class="text-center" >
        <h1 id="titleH1">Ferretería</h1>
        <p class="" style="color: white; font-size: 1.5rem">Grupo 1</p>
    </section>
</main>

<style>
    .mainHome {
        background-color: black;
        background: linear-gradient(to top right, #003399 0%, #00ccff 100%);
    }

    #titleH1 {
        color: white;
        text-align: center;
        font-size: 4rem;
    }
    .mainHome section {
        padding-top: 4rem; 
    }
</style>
